/* Navbar */
#navbar ul li {
  padding-top: 1.9rem;
  padding-bottom: 1.9rem;
  padding-right: 0;
  padding-left: 0;
}

#navbar ul li:last-child {
  padding-right: 1rem;
}

#navbar ul li a {
  margin: 0;
}
#services {
  height: 100%;
}

#services .services-container .my-services {
  padding-bottom: 2.5rem;
}

#services .services-container .service-items {
  display: block;
  padding: 0;
}

#services .services-container .service-items .service-item h3 {
  padding-bottom: 1.5rem;
}
#services .services-container .service-items .service-item p {
  padding: 0;
}